[Desktop Entry]
Name=Notes
Comment=A note-taking app created by Amphi
Exec=amphi-notes.notes
Icon=icon.png
Terminal=false
Type=Application
Categories=Utility
Keywords=Utility
StartupNotify=false;